<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Denúncias</title>
</head>

<body>
    <h1 style="color:blue;">Lista de Denúncias</h1>
    <ul>
        {% for denuncias in denuncias %}
        <a href="{% url 'update_denuncias' denuncias.id %}">
            <hr>
            <li> {{ denuncias.empresa }}</li>
            <div> <li>{{ denuncias.cpf }} </li> </div>
            <hr>
            

        </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_denuncias' %}">Cadastrar nova denúncia</a>
</body>

</html>